/* Styling Form And Resume Section*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(92, 175, 251);
    border-radius: rgb(45, 107, 165) 8px;
    box-shadow: 0 4px 8px ; 
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(92, 175, 251);
}

legend {
    font-weight: bold;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(47, 111, 136);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    width: 100%;
    background-color:skyblue;
    color:  rgb(4, 15, 24);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(33, 140, 247) ;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times,;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(33, 140, 247);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(69, 128, 151);
    border-radius: 8px;
    background-color: rgb(92, 175, 251);
    box-shadow: 0 4px 8px rgba(88, 130, 221, 0.809);
    outline: none;
}

#resume-display h2 {
    color: rgb(92, 175, 251);
}